.elementor-351 .elementor-element.elementor-element-ae4217a>.elementor-container {
    max-width: 1000px;
}

.elementor-351 .elementor-element.elementor-element-ae4217a:not(.elementor-motion-effects-element-type-background),
.elementor-351 .elementor-element.elementor-element-ae4217a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url('../../2020/05/menu_bg.png');
}

.elementor-351 .elementor-element.elementor-element-ae4217a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 99;
}

.elementor-351 .elementor-element.elementor-element-ae4217a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-menu-toggle {
    margin-left: auto;
    background-color: rgb(85, 99, 107);
    font-size: 28px;
    border-radius: 0px;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu .elementor-item {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-style: normal;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main .elementor-item {
    color: #ffffff;
    fill: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main .elementor-item:hover,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main .elementor-item:focus {
    color: #fff;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #0778bd;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .e--pointer-framed .elementor-item:before,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .e--pointer-framed .elementor-item:after {
    border-color: #0778bd;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #0778bd;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #0778bd;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-menu-toggle {
    color: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown {
    background-color: #2f2f2f;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a:hover,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a.highlighted,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-menu-toggle:hover {
    color: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a:hover,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a.highlighted {
    background-color: #077ec1;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #077ec1;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown .elementor-item,
.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-style: normal;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b div.elementor-menu-toggle {
    color: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b div.elementor-menu-toggle svg {
    fill: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-4ee0c7b {
    z-index: 99;
}

.elementor-351 .elementor-element.elementor-element-2d7e4de>.elementor-container {
    max-width: 1000px;
}

.elementor-351 .elementor-element.elementor-element-2d7e4de {
    padding: 20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-853991e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-853991e.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-853991e.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-351 .elementor-element.elementor-element-35b1fe8:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-351 .elementor-element.elementor-element-35b1fe8>.elementor-widget-container {
    margin: 0px 10px 0px 0px;
}

.elementor-351 .elementor-element.elementor-element-35b1fe8 {
    z-index: 1;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-351 .elementor-element.elementor-element-345bb9c .elementor-search-form__container {
    min-height: 34px;
}

.elementor-351 .elementor-element.elementor-element-345bb9c .elementor-search-form__submit {
    min-width: 34px;
}

body:not(.rtl) .elementor-351 .elementor-element.elementor-element-345bb9c .elementor-search-form__icon {
    padding-left: calc(34px / 3);
}

body.rtl .elementor-351 .elementor-element.elementor-element-345bb9c .elementor-search-form__icon {
    padding-right: calc(34px / 3);
}

.elementor-351 .elementor-element.elementor-element-345bb9c .elementor-search-form__input,
.elementor-351 .elementor-element.elementor-element-345bb9c.elementor-search-form--button-type-text .elementor-search-form__submit {
    padding-left: calc(34px / 3);
    padding-right: calc(34px / 3);
}

.elementor-351 .elementor-element.elementor-element-345bb9c:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
    background-color: #ffffff;
    border-color: #545454;
    border-radius: 0px;
}

.elementor-351 .elementor-element.elementor-element-345bb9c.elementor-search-form--skin-full_screen input[type='search'].elementor-search-form__input {
    background-color: #ffffff;
    border-color: #545454;
    border-radius: 0px;
}

.elementor-351 .elementor-element.elementor-element-345bb9c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
}

.elementor-351 .elementor-element.elementor-element-345bb9c {
    width: 320px;
    max-width: 320px;
}

.elementor-351 .elementor-element.elementor-element-8e6c7e6>.elementor-container {
    max-width: 1000px;
}

.elementor-351 .elementor-element.elementor-element-8e6c7e6 {
    padding: 0px 0px 10px 0px;
}

.elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-71190a9.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-71190a9.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-71190a9.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-351 .elementor-element.elementor-element-dd77103 {
    text-align: left;
}

.elementor-351 .elementor-element.elementor-element-dd77103>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-9a02968.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-9a02968.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-9a02968.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-351 .elementor-element.elementor-element-9a02968>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
}

.elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-86beaab.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-86beaab.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-86beaab.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-351 .elementor-element.elementor-element-55f755f .elementor-heading-title {
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 28px;
}

.elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-ea59e09.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-ea59e09.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-351 .elementor-element.elementor-element-ea59e09.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-351 .elementor-element.elementor-element-ea59e09>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-351 .elementor-element.elementor-element-58e0858>.elementor-widget-container {
    margin: 0px -11px -25px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-351 .elementor-element.elementor-element-58e0858 {
    width: auto;
    max-width: auto;
    align-self: flex-end;
}

.elementor-351 .elementor-element.elementor-element-1a276b9 .elementor-heading-title {
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 28px;
}

.elementor-351 .elementor-element.elementor-element-1a276b9 {
    width: auto;
    max-width: auto;
}

.elementor-351 .elementor-element.elementor-element-25bd9fe .elementor-heading-title {
    color: rgb(85, 99, 107);
    font-family: 'FuturaBT-Bold', Sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
}

.elementor-351 .elementor-element.elementor-element-25bd9fe>.elementor-widget-container {
    margin: 0px 0px 0px 5px;
}

.elementor-351 .elementor-element.elementor-element-25bd9fe {
    width: auto;
    max-width: auto;
}

.elementor-351 .elementor-element.elementor-element-7d729ed>.elementor-container {
    max-width: 1000px;
}

.elementor-351 .elementor-element.elementor-element-7d729ed:not(.elementor-motion-effects-element-type-background),
.elementor-351 .elementor-element.elementor-element-7d729ed>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url('../../2020/05/menu_bg.png');
}

.elementor-351 .elementor-element.elementor-element-7d729ed {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 99;
}

.elementor-351 .elementor-element.elementor-element-7d729ed>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu .elementor-item {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-style: normal;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main .elementor-item {
    color: #ffffff;
    fill: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main .elementor-item:hover,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main .elementor-item:focus {
    color: #fff;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #f5c34c;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .e--pointer-framed .elementor-item:before,
.elementor-351 .elementor-element.elementor-element-aa94606 .e--pointer-framed .elementor-item:after {
    border-color: #f5c34c;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #f5c34c !important;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-351 .elementor-element.elementor-element-aa94606 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #f5c34c;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-menu-toggle {
    color: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown {
    background-color: #2f2f2f;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a:hover,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a.highlighted,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-menu-toggle:hover {
    color: #ffffff;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a:hover,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #077ec1;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #077ec1;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown .elementor-item,
.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-style: normal;
}

.elementor-351 .elementor-element.elementor-element-aa94606 .elementor-nav-menu--dropdown a {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 1024px) {
    .elementor-351 .elementor-element.elementor-element-ae4217a {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-351 .elementor-element.elementor-element-3c22b06>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-351 .elementor-element.elementor-element-3c22b06>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 5px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main .elementor-item {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a {
        padding-left: 12px;
        padding-right: 12px;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 4px !important;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b {
        width: 100%;
        max-width: 100%;
    }
    .elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-853991e.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-351 .elementor-element.elementor-element-853991e.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-351 .elementor-element.elementor-element-853991e.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-351 .elementor-element.elementor-element-853991e>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
    }
    .elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-71190a9.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-351 .elementor-element.elementor-element-71190a9.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-351 .elementor-element.elementor-element-71190a9.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-351 .elementor-element.elementor-element-71190a9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-dd77103 {
        text-align: center;
    }
    .elementor-351 .elementor-element.elementor-element-dd77103>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-9a02968>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
    }
}

@media (max-width: 767px) {
    .elementor-351 .elementor-element.elementor-element-ae4217a {
        padding: 10px 10px 10px 10px;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--dropdown a {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-351 .elementor-element.elementor-element-4ee0c7b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 5px !important;
    }
    .elementor-351 .elementor-element.elementor-element-2d7e4de {
        padding: 10px 0px 10px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-35b1fe8 {
        text-align: center;
        width: auto;
        max-width: auto;
    }
    .elementor-351 .elementor-element.elementor-element-35b1fe8>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-8e6c7e6 {
        margin-top: 15px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-dd77103 {
        text-align: center;
    }
    .elementor-351 .elementor-element.elementor-element-b8c9865 {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-351 .elementor-element.elementor-element-55f755f {
        text-align: center;
    }
    .elementor-bc-flex-widget .elementor-351 .elementor-element.elementor-element-ea59e09.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-351 .elementor-element.elementor-element-ea59e09.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-351 .elementor-element.elementor-element-ea59e09.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-351 .elementor-element.elementor-element-1a276b9 .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-351 .elementor-element.elementor-element-25bd9fe .elementor-heading-title {
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .elementor-351 .elementor-element.elementor-element-71190a9 {
        width: 34.1%;
    }
    .elementor-351 .elementor-element.elementor-element-9a02968 {
        width: 65.9%;
    }
    .elementor-351 .elementor-element.elementor-element-86beaab {
        width: 34.446%;
    }
    .elementor-351 .elementor-element.elementor-element-ea59e09 {
        width: 65.552%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-351 .elementor-element.elementor-element-71190a9 {
        width: 100%;
    }
    .elementor-351 .elementor-element.elementor-element-9a02968 {
        width: 100%;
    }
    .elementor-351 .elementor-element.elementor-element-86beaab {
        width: 40%;
    }
    .elementor-351 .elementor-element.elementor-element-ea59e09 {
        width: 60%;
    }
}


/* Start custom CSS for search-form, class: .elementor-element-345bb9c */

.srch-box {
    border: 1px solid #d5d5d5;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}

@media (max-width: 540px) {
    .elementor-351 .elementor-element.elementor-element-345bb9c {
        width: 200px;
        max-width: 200px;
    }
}


/* End custom CSS */


/* Start custom CSS for image, class: .elementor-element-dd77103 */

@media (max-width: 500px) {
    #header-logo img {
        max-width: 280px;
    }
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-25bd9fe */

.hd-phno a:hover {
    color: #0897d0 !important;
}


/* End custom CSS */