.elementor-417 .elementor-element.elementor-element-18ef6eea > .elementor-container{max-width:1000px;}.elementor-417 .elementor-element.elementor-element-18ef6eea{padding:20px 20px 20px 20px;}.elementor-417 .elementor-element.elementor-element-36f859fc .elementor-heading-title{color:#000000;font-family:"FuturaBT-Light", Sans-serif;font-size:45px;font-weight:300;font-style:normal;}.elementor-417 .elementor-element.elementor-element-3b1f54ca > .elementor-container{max-width:1000px;}.elementor-417 .elementor-element.elementor-element-3b1f54ca{margin-top:0px;margin-bottom:50px;padding:0px 0px 50px 0px;z-index:9;}.elementor-417 .elementor-element.elementor-element-4624f305{font-family:"Futura-Condensed", Sans-serif;font-weight:400;}.elementor-417 .elementor-element.elementor-element-2ac5bf7f > .elementor-element-populated{margin:0px 0px 0px 20px;}@media(min-width:768px){.elementor-417 .elementor-element.elementor-element-a4a95ed{width:69.3%;}.elementor-417 .elementor-element.elementor-element-2ac5bf7f{width:30.656%;}}@media(max-width:767px){.elementor-417 .elementor-element.elementor-element-18ef6eea{padding:5px 5px 5px 5px;}.elementor-417 .elementor-element.elementor-element-36f859fc{text-align:center;}.elementor-417 .elementor-element.elementor-element-36f859fc .elementor-heading-title{font-size:35px;}.elementor-417 .elementor-element.elementor-element-2ac5bf7f > .elementor-element-populated{margin:30px 0px 0px 0px;padding:0px 10px 0px 10px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'FuturaBT-Light';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../../themes/astra-child/fonts/FuturaBT-Light.eot');
	src: url('../../../themes/astra-child/fonts/FuturaBT-Lightd41d.eot?#iefix') format('embedded-opentype'),
		url('../../../themes/astra-child/fonts/FuturaBT-Light.woff') format('woff'),
		url('../../../themes/astra-child/fonts/FuturaBT-Light.ttf') format('truetype'),
		url('../../../themes/astra-child/fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Futura-Condensed';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../../themes/astra-child/fonts/Futura-Condensed.eot');
	src: url('../../../themes/astra-child/fonts/Futura-Condensedd41d.eot?#iefix') format('embedded-opentype'),
		url('../../../themes/astra-child/fonts/Futura-Condensed.woff') format('woff'),
		url('../../../themes/astra-child/fonts/Futura-Condensed.ttf') format('truetype'),
		url('../../../themes/astra-child/fonts/Futura-Condensed.svg#Futura-Condensed') format('svg');
}
/* End Custom Fonts CSS */