.elementor-387 .elementor-element.elementor-element-ec99e0d>.elementor-container {
    max-width: 1000px;
}

.elementor-387 .elementor-element.elementor-element-ec99e0d:not(.elementor-motion-effects-element-type-background),
.elementor-387 .elementor-element.elementor-element-ec99e0d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgb(85, 99, 107);
}

.elementor-387 .elementor-element.elementor-element-ec99e0d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 40px 0px;
}

.elementor-387 .elementor-element.elementor-element-ec99e0d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-387 .elementor-element.elementor-element-29909c0 .elementor-heading-title {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}

.elementor-387 .elementor-element.elementor-element-29909c0>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-387 .elementor-element.elementor-element-11c4599 {
    font-family: 'Roboto Mono', monospace;
}

.elementor-387 .elementor-element.elementor-element-2639349 .elementor-heading-title {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}

.elementor-387 .elementor-element.elementor-element-2639349>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-387 .elementor-element.elementor-element-70a42b2 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-387 .elementor-element.elementor-element-631ea0a.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}

.elementor-387 .elementor-element.elementor-element-631ea0a.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-387 .elementor-element.elementor-element-631ea0a.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-387 .elementor-element.elementor-element-f416eff .elementor-heading-title {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}

.elementor-387 .elementor-element.elementor-element-f416eff>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-387 .elementor-element.elementor-element-f416eff {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-387 .elementor-element.elementor-element-e02c945 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-stacked .elementor-icon {
    background-color: #ffffff;
}

.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-framed .elementor-icon,
.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-default .elementor-icon {
    color: #ffffff;
    border-color: #ffffff;
}

.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-framed .elementor-icon,
.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-default .elementor-icon svg {
    fill: #ffffff;
}

.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-stacked .elementor-icon:hover {
    background-color: #077ec1;
}

.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-framed .elementor-icon:hover,
.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-default .elementor-icon:hover {
    color: #077ec1;
    border-color: #077ec1;
}

.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-framed .elementor-icon:hover,
.elementor-387 .elementor-element.elementor-element-e02c945.elementor-view-default .elementor-icon:hover svg {
    fill: #077ec1;
}

.elementor-387 .elementor-element.elementor-element-e02c945 .elementor-icon {
    font-size: 41px;
}

.elementor-387 .elementor-element.elementor-element-e02c945 .elementor-icon i,
.elementor-387 .elementor-element.elementor-element-e02c945 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-387 .elementor-element.elementor-element-e02c945 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-387 .elementor-element.elementor-element-ce129b4>.elementor-container {
    max-width: 1000px;
}

.elementor-387 .elementor-element.elementor-element-ce129b4 {
    padding: 30px 20px 30px 20px;
}

.elementor-387 .elementor-element.elementor-element-93da0e5 {
    --e-image-carousel-slides-to-show: 4;
}

.elementor-387 .elementor-element.elementor-element-93da0e5 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-387 .elementor-element.elementor-element-93da0e5 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 20px;
    color: rgba(42, 42, 42, 0.81);
}

.elementor-387 .elementor-element.elementor-element-93da0e5 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-408d3da {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-387 .elementor-element.elementor-element-7ce2df1.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-7ce2df1.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-7ce2df1.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-387 .elementor-element.elementor-element-7ce2df1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-387 .elementor-element.elementor-element-0d7431f {
    padding: 10px 0px 10px 0px;
}

.elementor-bc-flex-widget .elementor-387 .elementor-element.elementor-element-473047c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-473047c.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-473047c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-387 .elementor-element.elementor-element-473047c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-387 .elementor-element.elementor-element-8aa80f4 {
    text-align: left;
    color: #ffffff;
}

.elementor-bc-flex-widget .elementor-387 .elementor-element.elementor-element-7539af6.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-7539af6.elementor-column.elementor-element[data-element_type='column']>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-387 .elementor-element.elementor-element-7539af6.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-387 .elementor-element.elementor-element-07a015f {
    text-align: right;
}

@media (max-width: 1024px) {
    .elementor-387 .elementor-element.elementor-element-93da0e5 {
        --e-image-carousel-slides-to-show: 3;
    }
    .elementor-387 .elementor-element.elementor-element-408d3da {
        padding: 0px 10px 0px 10px;
    }
    .elementor-387 .elementor-element.elementor-element-0d7431f {
        padding: 0px 10px 0px 10px;
    }
}

@media (max-width: 767px) {
    .elementor-387 .elementor-element.elementor-element-f1a19c2 {
        width: 100%;
    }
    .elementor-387 .elementor-element.elementor-element-78ce5fc {
        width: 100%;
    }
    .elementor-387 .elementor-element.elementor-element-4efe362 {
        width: 100%;
    }
    .elementor-387 .elementor-element.elementor-element-631ea0a {
        width: 100%;
    }
    .elementor-387 .elementor-element.elementor-element-408d3da {
        padding: 0px 0px 0px 0px;
    }
    .elementor-387 .elementor-element.elementor-element-0d7431f {
        padding: 0px 10px 20px 10px;
    }
    .elementor-387 .elementor-element.elementor-element-8aa80f4 {
        text-align: center;
    }
    .elementor-387 .elementor-element.elementor-element-07a015f {
        text-align: center;
    }
    .elementor-387 .elementor-element.elementor-element-07a015f>.elementor-widget-container {
        padding: 10px 10px 0px 10px;
    }
}

@media (min-width: 768px) {
    .elementor-387 .elementor-element.elementor-element-78ce5fc {
        width: 34.898%;
    }
    .elementor-387 .elementor-element.elementor-element-4efe362 {
        width: 33.408%;
    }
    .elementor-387 .elementor-element.elementor-element-631ea0a {
        width: 30.978%;
    }
}


/* Start custom CSS for section, class: .elementor-element-ec99e0d */

#footer-div a:hover {
    color: #4bb6f5;
}

@media (min-width: 2000px) {
    #footer-div:before {
        height: 225px !important;
    }
}


/* End custom CSS */


/* Start custom CSS for section, class: .elementor-element-408d3da */

#sub-footer {
    background: #55646c;
}

#sub-footer .textwidget {
    color: #fff;
    font-size: 12px;
}

#sub-footer a {
    color: #4bb6f5;
}

#sub-footer a:hover {
    font-weight: bold;
    text-decoration: underline;
}


/* End custom CSS */